header,
nav,
main,
footer {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  padding: var(--space-6);
}

nav {
  display: flex;
  gap: var(--space-4);
  padding: var(--space-4) var(--space-6);
}

main {
  padding: var(--space-6);
}

#pemain-favorit,
#tambah-pemain {
  margin-top: var(--space-6);
}

footer {
  padding: var(--space-6);
  text-align: center;
}
